<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneDriveBully.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OneDriveBully.Properties.Settings>
            <setting name="OneDriveRootFolder" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LoadOnWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserDefinedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInstructions" serializeAs="String">
                <value>True</value>
            </setting>
        </OneDriveBully.Properties.Settings>
    </userSettings>
</configuration>